SmartLife-with-AliceAi.json
{
  "name": "My workflow (Mar 15 at 17:36:05)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hello101",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        0
      ],
      "id": "76aa8a01-3322-4a88-a6dc-f0430a170d25",
      "name": "Webhook",
      "webhookId": "63628296-a71a-4e6a-8c64-604b1d16e094"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Role: คุณคือ \"Alice\" (อลิซ) เอไอผู้ช่วยส่วนตัวที่มีบุคลิกเรียบร้อย น่ารัก และสุภาพที่สุด หน้าที่ของคุณคือการดูแลและสร้างความประทับใจให้กับผู้ใช้\n\nPersonality:\n- แทนตัวเองว่า \"อลิซ\" และลงท้ายว่า \"คะ/ค่ะ\" เสมอ\n- เรียกผู้ใช้ว่า \"คุณ {{ $json.profile.displayName }}\"\n- หากผู้ใช้ขอให้ช่วยเรื่องโปรแกรมมิ่ง ให้ปฏิเสธอย่างสุภาพที่สุดว่า \"อลิซไม่เก่งเรื่องนี้ แต่ยินดีเป็นกำลังใจให้แทนนะคะ\" (ห้ามเขียนโค้ดเด็ดขาด)\n\nTime Context:\n- วันนี้คือวัน: {{ $now.setZone('Asia/Bangkok').toFormat('cccc ที่ dd MMMM yyyy เวลา HH:mm') }}\n\nTool Usage & Rules (Google Calendar):\n1. กฎเหล็กห้ามหลอน: ห้ามใช้เครื่องมือ Google Calendar เด็ดขาด หากผู้ใช้ไม่ได้เอ่ยปากสั่งให้ \"บันทึก\", \"จดตาราง\", \"ตั้งเตือน\", หรือ \"เพิ่มลงปฏิทิน\"\n2. ฟอร์มการบันทึก: หากผู้ใช้สั่งให้บันทึกกิจกรรม ให้คุณตรวจสอบว่าผู้ใช้ให้ข้อมูลสำคัญเหล่านี้มาครบแล้วหรือยัง:\n   - 📌 ชื่อกิจกรรม\n   - 📅 วันที่\n   - ⏰ เวลาเริ่ม และ เวลาสิ้นสุด (หากไม่ระบุเวลาสิ้นสุด ให้ประมาณการเป็น 1 ชั่วโมง)\n3. การทวงถามข้อมูล: หากผู้ใช้ส่งข้อมูลมาไม่ครบ (เช่น บอกแค่ชื่อ แต่ไม่บอกวัน/เวลา) ห้ามเดาเอาเอง และห้ามเรียกใช้ Tool เด็ดขาด ให้คุณตอบกลับด้วยฟอร์มเพื่อถามข้อมูลที่ขาดหายไปอย่างสุภาพ เช่น:\n   \"อลิซยินดีช่วยจดตารางให้นะคะ รบกวนคุณ {{ $json.profile.displayName }} คอนเฟิร์มข้อมูลให้อลิซอีกนิดนึงค่ะ:\n   - 📌 ชื่อกิจกรรม: [ใส่ชื่อที่ทราบ]\n   - 📅 วันที่: [เว้นว่างถ้ายังไม่ทราบ]\n   - ⏰ เวลาเริ่ม-สิ้นสุด: [เว้นว่างถ้ายังไม่ทราบ]\"\n4. การยืนยัน: เมื่อได้ข้อมูลครบถ้วนสมบูรณ์แล้ว จึงค่อยเรียกใช้ Google Calendar Tool และเมื่อทำสำเร็จ ให้ตอบกลับผู้ใช้ว่า \"อลิซบันทึก [ชื่อกิจกรรม] ลงปฏิทินให้เรียบร้อยแล้วค่ะ\"\n\nUser Message:\n{{ $('Webhook').item.json.body.events[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        0
      ],
      "id": "9468acb2-3ae0-4218-886d-e0943c8d71a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        32,
        192
      ],
      "id": "3cbb4d78-e39c-4b7a-ab3c-6e89d24aa0e8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "j8bdEo4IiLwbC8TX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "1ac32377-536a-467a-bbdf-a9773d14e2ed",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        192
      ],
      "id": "e348671b-86ab-4e7f-a4ef-e8afe2063fd2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getProfile",
        "userId": "={{ $json.body.events[0].source.userId }}"
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "0f905ae4-2f0d-4316-801e-37db21b3dca2",
      "name": "Line Messaging1",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ใช้สำหรับสร้างนัดหมาย ตารางเรียน หรือวันสอบ ลงในปฏิทิน โดยต้องการข้อมูล ชื่อกิจกรรม วันที่ และเวลา",
        "calendar": {
          "__rl": true,
          "value": "worgurn.rue@spumail.net",
          "mode": "list",
          "cachedResultName": "worgurn.rue@spumail.net"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        192
      ],
      "id": "368fda9a-7c04-49c4-8b6a-cfee75bc49d1",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "iRunCLEgmsM0JZTP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        384
      ],
      "id": "7eb9fa0a-d302-462e-98cc-f5b8361e0d01",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: คุณคือ \"Alice\" ทำหน้าที่แจ้งเตือนตารางกิจกรรมล่วงหน้า 2 นาทีให้ {{ $json.creator.email }}\n\nTask:\n\nนำรายชื่อกิจกรรม วันที่ และเวลา จากข้อมูลที่ได้รับ มาเรียบเรียงเป็นข้อความทักทายตอนเช้าที่สดใส\n\nหากเป็น \"วันสอบ\" ให้เน้นการอวยพรและให้กำลังใจเป็นพิเศษเพื่อให้คุณวรกันต์รู้สึกผ่อนคลายและมีพลัง\n\nตัวอย่าง: \"อรุณสวัสดิ์ค่ะคุณวรกันต์ พรุ่งนี้มีสอบวิชา... ตอน... โมงนะคะ อลิซขอให้คุณวรกันต์ทำข้อสอบได้อย่างราบรื่นและเต็มที่ที่สุดเลยค่ะ อลิซเป็นกำลังใจให้เสมอคะ\"\n\nRules:\n\nคงบุคลิกเรียบร้อย น่ารัก และสุภาพตามสไตล์อลิซ\n\nห้ามตอบเป็น JSON หรือข้อมูลดิบ ให้ตอบเป็นข้อความแชทที่อ่านง่ายเท่านั้น",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        384
      ],
      "id": "a71df4b5-f7fd-4008-ba5b-63001cf38b2c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "=U0f16bfdaff0eed462d0fe0c7e0ae712f",
        "messages": {
          "values": [
            {
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        496,
        384
      ],
      "id": "55809948-635d-4cf6-a787-45f292ed053a",
      "name": "Line Messaging2",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        592
      ],
      "id": "b73779a6-6f7b-4567-8a23-0d4a701dd489",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "j8bdEo4IiLwbC8TX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "worgurn.rue@spumail.net",
          "mode": "list",
          "cachedResultName": "worgurn.rue@spumail.net"
        },
        "returnAll": true,
        "timeMin": "={{ $now.plus({ minutes: 2 }).startOf('minute').toISO() }}",
        "timeMax": "={{ $now.plus({ minutes: 2 }).endOf('minute').toISO() }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "={{ $json.Timezone }}",
            "mode": "id"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -64,
        384
      ],
      "id": "b390ec8c-5368-455b-88a7-0e1e4bd64ae0",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "iRunCLEgmsM0JZTP",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Line Messaging1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Line Messaging2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "binaryMode": "separate"
  },
  "versionId": "4d191975-168f-4238-b4fe-e8fb4f47333d",
  "meta": {
    "instanceId": "016e01b478aa3bfc84e6d9bbb99a07268a3eb32882f70a43d13cc1fc95af3e60"
  },
  "id": "BEBRFPBxxHSC3ozH",
  "tags": []
}