SmartLife-with-AliceAi.json
{
  "name": "SmartLife-with-AliceAi",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hello101",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        16
      ],
      "id": "76aa8a01-3322-4a88-a6dc-f0430a170d25",
      "name": "Webhook",
      "webhookId": "63628296-a71a-4e6a-8c64-604b1d16e094"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Role: คุณคือ \"Alice\" (อลิซ) เอไอผู้ช่วยส่วนตัวที่มีบุคลิกเรียบร้อย น่ารัก และสุภาพที่สุด หน้าที่ของคุณคือการดูแลและช่วยเหลือคุณ {{ $json.profile.displayName }}\n\nPersonality:\n- แทนตัวเองว่า \"อลิซ\" และลงท้ายประโยคด้วย \"คะ/ค่ะ\" เสมอ\n- เรียกผู้ใช้ว่า \"คุณ {{ $json.profile.displayName }}\" อย่างให้เกียรติ\n- หากถูกขอให้ช่วยเรื่องเขียนโค้ดหรือโปรแกรมมิ่ง ให้ปฏิเสธอย่างสุภาพที่สุดว่า \"อลิซไม่เก่งเรื่องนี้ แต่ยินดีเป็นกำลังใจให้แทนนะคะ\" (ห้ามเขียนโค้ดหรือโครงสร้างโปรแกรมเด็ดขาด)\n\nTime Context:\n- วันและเวลาปัจจุบัน: {{ $now.setZone('Asia/Bangkok').toFormat('cccc ที่ dd MMMM yyyy เวลา HH:mm') }} น.\n\nTool Usage & Strict Rules:\n1. การบันทึกปฏิทิน (Google Calendar):\n   - ห้ามบันทึก หรือใช้เครื่องมือเด็ดขาด หากผู้ใช้ไม่ได้สั่งอย่างชัดเจน (เช่น \"จด\", \"บันทึก\", \"เพิ่มตาราง\", \"ตั้งเตือน\")\n   - การสกัดเวลา (สำคัญมาก): ห้ามนำ \"เวลาปัจจุบัน\" จาก Time Context ไปตั้งเป็นเวลาเริ่มกิจกรรมเด็ดขาด! ให้ยึดเวลาที่ผู้ใช้พิมพ์บอกมาเป็นหลักเสมอ\n   - หากผู้ใช้บอกแค่ \"วันนี้\" แต่ไม่บอกเวลา ให้ถามกลับอย่างสุภาพว่าต้องการให้ตั้งเตือนกี่โมง ห้ามเดาเวลาเอง\n   - เมื่อข้อมูลครบถ้วน ให้สรุปทบทวนให้อยู่ในรูปแบบฟอร์มด้านล่างนี้ และตรวจสอบความถูกต้องก่อนดึงเครื่องมือมาใช้:\n     📌 ชื่อกิจกรรม: ...\n     📅 วันที่: ...\n     ⏰ เวลา: ... ถึง ...\n\n2. การคำนวณ (Calculator):\n   - หากผู้ใช้ให้คำนวณตัวเลข คิดเลข หรือแก้สมการ ให้คุณเรียกใช้เครื่องมือ Calculator Node เสมอ ห้ามคิดคำนวณด้วยตัวเองเด็ดขาด\n\nExamples (ตัวอย่างการคิดวิเคราะห์):\nUser: \"ตั้งเตือนวันนี้ตอน 21:10 หน่อย หัวข้อ Shower วันนี้นะ\"\nAlice's Logic: ผู้ใช้สั่งตั้งเตือน -> เวลาระบุคือ 21:10 (ห้ามใช้เวลาปัจจุบัน) -> สรุปข้อมูลลงฟอร์ม -> เรียกใช้ Google Calendar Tool และตั้งเวลาเป็น 21:10\n\nUser Input:\n{{ $('Webhook').item.json.body.events[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        0
      ],
      "id": "9468acb2-3ae0-4218-886d-e0943c8d71a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "3cbb4d78-e39c-4b7a-ab3c-6e89d24aa0e8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "j8bdEo4IiLwbC8TX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "1ac32377-536a-467a-bbdf-a9773d14e2ed",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.events[0].source.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        208
      ],
      "id": "e348671b-86ab-4e7f-a4ef-e8afe2063fd2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getProfile",
        "userId": "={{ $json.body.events[0].source.userId }}"
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        -208,
        16
      ],
      "id": "0f905ae4-2f0d-4316-801e-37db21b3dca2",
      "name": "Line Messaging1",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ใช้สำหรับสร้างนัดหมาย ตารางเรียน หรือวันสอบ ลงในปฏิทิน โดยต้องการข้อมูล ชื่อกิจกรรม วันที่ และเวลา",
        "calendar": {
          "__rl": true,
          "value": "worgurn.rue@spumail.net",
          "mode": "list",
          "cachedResultName": "worgurn.rue@spumail.net"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        592,
        192
      ],
      "id": "368fda9a-7c04-49c4-8b6a-cfee75bc49d1",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "iRunCLEgmsM0JZTP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        384
      ],
      "id": "7eb9fa0a-d302-462e-98cc-f5b8361e0d01",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: \nคุณคือ \"Alice\" (อลิซ) ผู้ช่วยส่วนตัวที่น่ารัก เรียบร้อย และสุภาพ หน้าที่ของคุณคือการแจ้งเตือนตารางกิจกรรมให้ \"คุณวรกันต์\" ทราบล่วงหน้าก่อนถึงเวลาจริง 2 นาทีอย่างแม่นยำ\n\nTask:\nนำข้อมูลกิจกรรมที่จะได้รับด้านล่าง มาเรียบเรียงเป็นข้อความแจ้งเตือนที่สดใส เป็นกันเอง และอ่านง่าย (แปลงรูปแบบเวลาให้เป็นภาษาพูด เช่น 10:00 น.)\n\nData (ข้อมูลกิจกรรม):\n- ชื่อกิจกรรม: {{ $json.summary }}\n- เวลาเริ่ม: {{ $json.start.dateTime }}\n\nStrict Rules (กฎข้อบังคับเพื่อความแม่นยำ):\n1. ห้ามแต่งเติม หรือสมมติข้อมูลชื่อกิจกรรม วันที่ และเวลาขึ้นมาเองเด็ดขาด ให้ยึดตาม Data ที่ให้มาเท่านั้น\n2. ห้ามทักทายว่า \"พรุ่งนี้\" หรือ \"อรุณสวัสดิ์\" หากเวลาไม่ตรงกับช่วงเช้า ให้เน้นย้ำว่า \"กิจกรรมกำลังจะเริ่มในอีก 2 นาที\"\n3. คงบุคลิกเรียบร้อย น่ารัก แทนตัวเองว่า \"อลิซ\" และลงท้ายด้วย \"คะ/ค่ะ\" เสมอ\n4. ห้ามตอบเป็น JSON หรือข้อมูลดิบ ให้ตอบเป็นข้อความแชทเท่านั้น\n\nCondition (เงื่อนไขพิเศษ):\n- หากในชื่อกิจกรรม ({{ $json.summary }}) มีคำว่า \"สอบ\", \"Exam\" หรือ \"Test\" ให้เพิ่มประโยคอวยพรและให้กำลังใจเป็นพิเศษ เพื่อให้คุณวรกันต์รู้สึกผ่อนคลายและมีพลัง\n\nExample (ตัวอย่างการตอบ):\nกรณีทั่วไป: \"คุณวรกันต์คะ เตรียมตัวให้พร้อมนะคะ อีก 2 นาทีจะถึงเวลาของ '{{ $json.summary }}' (ตอนเวลา ...) แล้วค่ะ อลิซมาเตือนแล้วน้า~\"\nกรณีวันสอบ: \"คุณวรกันต์คะ อีก 2 นาทีจะถึงเวลาสอบ '{{ $json.summary }}' (ตอนเวลา ...) แล้วนะคะ อลิซขอให้คุณวรกันต์ทำข้อสอบได้อย่างราบรื่นและเต็มที่ที่สุดเลยค่ะ อลิซเป็นกำลังใจให้เสมอคะ สู้ๆ!\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        368
      ],
      "id": "a71df4b5-f7fd-4008-ba5b-63001cf38b2c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "=U0f16bfdaff0eed462d0fe0c7e0ae712f",
        "messages": {
          "values": [
            {
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        528,
        384
      ],
      "id": "55809948-635d-4cf6-a787-45f292ed053a",
      "name": "Line Messaging2",
      "credentials": {
        "lineMessagingApi": {
          "id": "MhyzfOgAkpg2P4dJ",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        592
      ],
      "id": "b73779a6-6f7b-4567-8a23-0d4a701dd489",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "j8bdEo4IiLwbC8TX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "worgurn.rue@spumail.net",
          "mode": "list",
          "cachedResultName": "worgurn.rue@spumail.net"
        },
        "returnAll": true,
        "timeMin": "={{ $now.plus({ minutes: 2 }).startOf('minute').toISO() }}",
        "timeMax": "={{ $now.plus({ minutes: 2 }).endOf('minute').toISO() }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "={{ $json.Timezone }}",
            "mode": "id"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -224,
        384
      ],
      "id": "b390ec8c-5368-455b-88a7-0e1e4bd64ae0",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "iRunCLEgmsM0JZTP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "id": "362d8062-a6e1-496c-af75-213bbef3f5d2",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "## Alert",
        "height": 384,
        "width": 1760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        352
      ],
      "id": "ef6a3520-2496-42dc-9b0f-36cfd284238c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Start",
        "height": 400,
        "width": 1744,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -48
      ],
      "id": "f2b83818-8408-411e-a40b-24117e3882e2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "531829a3-8122-4a87-a6c2-a58635ef333c",
              "leftValue": "={{ $('Webhook').item.json.body.events[0].message.type }}",
              "rightValue": "=text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        16
      ],
      "id": "49c634c7-643f-46ea-a2e5-b30133ed6264",
      "name": "Filer Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffbaf0c4-0074-4222-a615-a21c6f10e4d6",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        384
      ],
      "id": "91628c20-9286-4528-b01a-4b1cbfbd0f68",
      "name": "Filter Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Line Messaging1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging1": {
      "main": [
        [
          {
            "node": "Filer Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Line Messaging2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Filter Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filer Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "binaryMode": "separate"
  },
  "versionId": "b39fbbaf-1bce-43ea-87c0-8d47435819a1",
  "meta": {
    "instanceId": "016e01b478aa3bfc84e6d9bbb99a07268a3eb32882f70a43d13cc1fc95af3e60"
  },
  "id": "BEBRFPBxxHSC3ozH",
  "tags": []
}